<li class="list-group-item"
    [ngClass]="{'list-group-item-success': post.loveIts > 0, 
                'list-group-item-danger': post.loveIts < 0 }">

    <div class="d-flex flex-row">
        <h4 class="flex-grow-1">{{ post.title }}</h4>
        <p class="font-italic">{{ post.created_at | date: 'short' }}</p>
    </div>

    <p>{{ post.content }}</p>
    <button class="btn btn-success" (click)="onLikeIt()">
        <span class="far fa-thumbs-up"></span> Like
    </button>
    <button class="btn btn-danger" (click)="onDislikeIt()">
        <span class="far fa-thumbs-down"></span> Unlike
    </button>
</li>

